body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.3;
  position: relative;
  margin-left: 20px;
  margin-top: 70px;
  max-width: 65ch;
}
p {
  margin: 0;
}
em {
  opacity: 60%;
}
hr {
  border: none;
  margin: 0.5rem;
}
hr::before {
  content: "~";
  text-align: left;
}
body > * {
  margin-bottom: 0.65lh;
}
.img-wrapper {
  border: 1px solid #a3a3a3;
  padding: 8px;
}
.small {
  max-width: 40ch;
  opacity: 80%;
}
